<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/Styles.css">

    <title>AS:Odyssey</title>
</head>

<body class="bg-dark">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/public/js/bootstrap.min.js"></script>

    <div class="container-fluid">
        <!--Menu-->
        <div class="row">
            <div class="col-lg-12 bg-dark">
                <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
                    <div id="Menu" class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand " href="/"><img src="/public/Images/Ix0vULf.jpg" alt="Logo">
                                <p class="navbar-text display-4 header">Ubisoft</p>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        <!--Content-->
        <div class="row text-white">
            <div class="col-lg-12 bg-dark">
                <ul>
                    <li>
                        <h2>RPG:</h2>
                        <li>
                            <p>
                                <img src="/public/Images/ACOdyssey.png" alt="Logo"> Assassin's Creed Odyssey (2018)
                            </p>
                            <br>
                        </li>
                        <li>
                            <h2>Description:</h2>
                            Assassin's Creed Odyssey is an action role-playing video game developed by Ubisoft Quebec and published by Ubisoft. It is the eleventh major installment, and twentieth overall, in the Assassin's Creed series and the successor to 2017's Assassin's Creed
                            Origins. Set in the year 431 BCE, the plot tells a fictional history of the Peloponnesian War between Athens and Sparta. Players control a male or female mercenary who fights for both sides as they attempt to unite their family
                            and uncover a malign cult.The game was released worldwide for Microsoft Windows, PlayStation 4, Xbox One, and (in Japan only) for Nintendo Switch on October 5, 2018. It was praised for its open world, visuals, combat, story,
                            and characters, while receiving criticism for some reliance on grinding, microtransactions, and for feeling bloated.
                        </li>
                </ul>
            </div>
        </div>

        <!--Footer-->
        <div class="row">
            <div class="col-lg-6 bg-dark">
                <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-bottom">
                    <ul class="nav navbar-nav footer-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Other</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Creators</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6 bg-dark footer-info">
                <p class="text-muted footer-info-txt">Created by Bidyak M.A. KV-61 (17.09.2018)</p>
            </div>
        </div>
    </div>
    <script type="module" src="/public/js/ajax.js"></script>
</body>

</html>