<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/Styles.css">

    <title>Shooter</title>
</head>

<body class="bg-dark">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/public/js/bootstrap.min.js"></script>

    <div class="container-fluid">
        <!--Menu-->
        <div class="row">
            <div class="col-lg-12 bg-dark">
                <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
                    <div id="Menu" class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand " href="/"><img src="/public/Images/Ix0vULf.jpg" alt="Logo">
                                <p class="navbar-text display-4 header">Ubisoft</p>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        <!--Content-->
        <div class="row text-white">
            <div class="col-lg-12 bg-dark">
                <ul>
                    <li>
                        <h2>Shooter:</h2>
                        <li>
                            <p>
                                <img src="/public/Images/Far_Cry_5.jpg" alt="Logo"> Far Cry 5 (2018)
                            </p>
                            <br>
                        </li>
                        <li>
                            <h2>Description:</h2>
                            Far Cry 5 is an action-adventure first-person shooter video game developed by Ubisoft Montreal and Ubisoft Toronto and published by Ubisoft for Microsoft Windows, PlayStation 4 and Xbox One. It is the successor to the 2014 video game Far Cry 4, and the
                            fifth main installment in the Far Cry series. The game was released on March 27, 2018. The game is a standalone successor to its predecessor, and takes place in Hope County, a fictional region of Montana. The main story revolves
                            around the Project at Eden's Gate, a doomsday cult that rules the land under the guise of its charismatic leader, Joseph Seed. Players control an unnamed junior deputy sheriff who becomes trapped in Hope County, and must work
                            alongside factions of a resistance to liberate the county from the despotic rule of the Seeds and Eden's Gate. Gameplay focuses on combat and exploration; players battle enemy soldiers and dangerous wildlife using a wide array
                            of weapons. The game features many elements found in role-playing games, such as a branching storyline and side quests. The game also features a map editor, a co-operative multiplayer mode, and a competitive multiplayer mode.
                            Announced in early 2017, development on Far Cry 5 was extensive. The team explored several concepts before settling on an American location. The game was heavily inspired by several socio-political events in modern history,
                            such as the Cold War and the September 11 attacks. The development team sought to capture the despondent social climate after the events and re-purpose it for the game. Developed and published solely by Ubisoft, its competitive
                            multiplayer mode was also created in-house, with the company's worldwide studios gaining more creative input for Far Cry 5. Far Cry 5 was met with mostly positive critical reception upon release, although was the subject of
                            controversy after being announced alongside a period of heightened political conflicts. Critics praised the open world design, visuals, and soundtrack, but directed criticisms towards its story and some of the characters. The
                            game was a commercial success and became the fastest-selling title in the franchise, grossing over $310 million in its first week of sales. Several downloadable content packs have been released.
                        </li>
                </ul>
            </div>
        </div>

        <!--Footer-->
        <div class="row">
            <div class="col-lg-6 bg-dark">
                <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-bottom">
                    <ul class="nav navbar-nav footer-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Other</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Creators</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6 bg-dark footer-info">
                <p class="text-muted footer-info-txt">Created by Bidyak M.A. KV-61 (17.09.2018)</p>
            </div>
        </div>
    </div>
    <script type="module" src="/public/js/ajax.js"></script>
</body>

</html>